.body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

header {
  background-color: rgb(203, 203, 203);
  line-height: 5rem;
  padding: 0 2rem;
}
main,
nav,
aside {
  padding: 1rem;
}

footer {
  background-color: rgb(203, 203, 203);
  line-height: 5rem;
  padding: 0 2rem;
}

.displayNone {
  /*visibility: hidden;*/
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
